@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

.hero {
  background: url(assets/3571325.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 93vh;
}

.navBar {
  font-family: "Fira Sans", sans-serif;
}

.navBar img {
  height: 6vh;
  width: 30vh;
  margin-left: 10vh;
  border-radius: 6px;
  cursor: pointer;
}

.nav_items {
  color: black;
  margin-right: 1rem;
  font-size: 1rem;
}

.nav_items:hover {
  color: #0620ff;
}

.hero h1 {
  font-family: "Catamaran", sans-serif;
  font-size: 17vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.waves {
  position: absolute;
  bottom: -30px;
  opacity: 1;
}

.desc {
  padding-top: 5vh;
  text-align: center;
  margin-bottom: 10vh;
}

.desc h1 {
  color: black;
  font-size: 7vh;
  font-family: "Poppins", sans-serif;
  padding-bottom: 4vh;
}

.desc h5 {
  color: #a49898;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
}

.learnMore {
  margin-top: 2vh;
  border: 2px solid #0620ff;
  color: #0620ff;
  transition: all 0.5s ease 0s;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.learnMore:hover {
  color: #ffffff;
  background-color: #0620ff;
  border: 2px solid #0620ff;
  transform: translateY(-3px);
}

.branches {
  padding-top: 7vh;
  text-align: center;
}

.branches h1 {
  color: black;
  font-size: 7vh;
  font-family: "Poppins", sans-serif;
  padding-bottom: 4vh;
}

.branchCard {
  width: 21rem;
  margin: auto;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.cardImg {
  height: 200px;
  width: 95%;
  margin: auto;
  border-radius: 7px;
}

.branchCard h3 {
  font-family: "Poppins", sans-serif;
}

.branchCard h6 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 2vh;
}

.reading {
  width: 45vh;
  position: fixed;
  left: 60%;
  top: 60%;
  transform: translate(60%, 0%);
  z-index: -1;
}

.rocket {
  position: fixed;
  left: 3%;
  top: 30%;
  width: 55vh;
  border-radius: 20px;
  z-index: -1;
  opacity: 0.9;
}

.empty img {
  width: 40vh;
  margin-top: 10vh;
}

.empty h4 {
  margin-top: 4vh;
  color: #5952c0;
}

.post {
  margin-bottom: 2vh;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06);
}

.post Button {
  width: 2.7rem;
  margin-left: 0.5rem;
}

.postFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reply {
  margin-top: 2rem;
  font-family: "Poppins", sans-serif;
}

.notes {
  margin-bottom: 2vh;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06);
}

.notesBody {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.notes Button {
  width: 2.7rem;
  margin-bottom: 0.8rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.commentFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 1400px) {
  .rocket {
    opacity: 0.7;
  }

  .reading {
    opacity: 0.7;
  }
}

@media screen and (max-width: 1030px) {
  .waves {
    opacity: 0;
  }
}

@media screen and (max-width: 900px) {
  .navBar img {
    margin-left: 0vh;
    height: 4vh;
    width: 15vh;
  }
  .hero h1 {
    font-size: 10vh;
  }
  .branches h1 {
    font-size: 6vh;
  }
  .branchCard h3 {
    font-size: 4vh;
  }
  .branchCard h6 {
    font-size: 2.5vh;
  }
  .desc h1 {
    font-size: 5vh;
  }
  .desc h5 {
    font-size: 2.3vh;
  }
  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .icons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 700px) {
  .rocket {
    opacity: 0;
  }

  .reading {
    opacity: 0;
  }
  .hero h1 {
    font-size: 8vh;
  }
  .notesBody {
    flex-direction: column;
  }
  .buttons {
    flex-direction: row;
    justify-content: safe;
  }
  .notes Button {
    margin-left: 1rem;
  }
}
