@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

.hero {
  background: url(assets/3571325.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 93vh;
}

.navBarHeader {
  padding: 0px 0;
  font-family: "Fira Sans", sans-serif;
  width: 100%;
  margin: auto;
  background: transparent;
}

.nav_links {
  margin-right: 25vh;
}

.nav_items {
  color: black;
  margin-right: 3vh;
  font-size: 2vh;
}

.nav_items:hover {
  color: #0620ff;
}

.navBarHeader img {
  height: 6vh;
  width: 30vh;
  margin-left: 30vh;
  border-radius: 6px;
  cursor: pointer;
}

.navBarHeader button {
  background-color: #f06868;
  border-radius: 5px;
  margin-right: 12px;
  border: none;
  padding: 5px 10px;
  color: #ffffff;
}

.navBarHeader button:hover {
  background-color: #ff939c;
}

.hero h1 {
  font-family: "Catamaran", sans-serif;
  font-size: 17vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.waves {
  position: absolute;
  bottom: -40px;
  opacity: 1;
}

.desc {
  padding-top: 5vh;
  height: 43vh;
  text-align: center;
}

.desc h1 {
  color: black;
  font-size: 7vh;
  font-family: "Poppins", sans-serif;
  padding-bottom: 4vh;
}

.desc h5 {
  color: #a49898;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
}

.learnMore {
  margin-top: 2vh;
  border: 2px solid #0620ff;
  color: #0620ff;
  transition: all 0.5s ease 0s;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.learnMore:hover {
  color: #ffffff;
  background-color: #0620ff;
  border: 2px solid #0620ff;
  transform: translateY(-3px);
}

.branches {
  padding-top: 7vh;
  text-align: center;
}

.branches h1 {
  color: black;
  font-size: 7vh;
  font-family: "Poppins", sans-serif;
  padding-bottom: 4vh;
}

.branchCard {
  width: 21rem;
  margin: auto;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.cardImg {
  height: 200px;
  width: 95%;
  margin: auto;
  border-radius: 7px;
}

.branchCard h3 {
  font-family: "Poppins", sans-serif;
}

.branchCard h6 {
  font-family: "Poppins", sans-serif;
}

.footer {
  height: 10vh;
  clear: both;
  position: relative;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}
