@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.branch {
  margin-bottom: 10px;
  min-height: 80vh;
  font-family: "Poppins", sans-serif;
  margin-top: 4vh;
}

.branch h1 {
  text-align: center;
}

.semBranchCard {
  width: 15rem;
  margin: auto;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  font-family: "Poppins", sans-serif;
}

.semCardImg {
  height: 200px;
  width: 95%;
  margin: auto;
  border-radius: 7px;
}
