@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.contact {
  margin-bottom: 10px;
  min-height: 75vh;
  margin-top: 4vh;
}

.contact h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin-bottom: 6vh;
  font-size: 7vh;
  color: #5952c0;
}

.contact h5 {
  margin-bottom: 0vh;
  margin-top: 1vh;
  font-weight: 400;
}

.askQuestion {
  margin-top: 2vh;
  width: 15vh;
  border: 2px solid #0620ff;
  color: #0620ff;
  transition: all 0.5s ease 0s;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.askQuestion:hover {
  color: #ffffff;
  background-color: #0620ff;
  border: 2px solid #0620ff;
  transform: translateY(-3px);
}
