@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.discuss h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin-bottom: 3vh;
  font-size: 7vh;
  color: #5952c0;
}

.discuss h5 {
  text-align: center;
  color: #636363;
}
