@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.discuss h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin-bottom: 3vh;
  font-size: 7vh;
  color: #5952c0;
}

.discuss h5 {
  text-align: center;
  color: #636363;
}

.add {
  position: fixed;
  right: 5vh;
  bottom: 5vh;
  background-color: #5952c0;
  border: none;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  transition: 0.4s;
}

.add:hover {
  background-color: red;
}

.askButton {
  width: 5rem;
}

.loginAlert {
  margin: 5rem 0;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .add {
    width: 3rem;
    height: 3rem;
  }
}
