@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.register {
  margin-bottom: 10px;
  min-height: 75vh;
  margin-top: 4vh;
}

.registerH1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-size: 7vh;
  color: #5952c0;
}

.registerForm {
  font-family: "Poppins", sans-serif;
}

.registerForm Label {
  font-size: 1.1rem;
}

.bottomBar {
  margin-top: 3rem;
}

.signInButton {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 900px) {
  .registerH1 {
    font-size: 5vh;
  }
}
