@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.comment {
  font-family: "Poppins", sans-serif;
  margin-top: 1rem;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048);
  width: 90%;
}

.commentFooter {
  font-size: 0.8rem;
  color: #6c757d;
}

.deleteIcon {
  position: absolute;
  right: 2%;
  top: 50%;
  transform: translate(0, -50%);
}

.commentGroup {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
}

.commentInput {
  width: 90%;
}

.commentButton {
  width: 8%;
  height: 5%;
  margin-left: 1%;
}

@media screen and (max-width: 900px) {
  .commentInput {
    width: 75%;
  }
  .commentButton {
    width: 20%;
  }
}
